@import "tailwindcss";

@theme {
  /* --color-primary akan membuat class:
    - bg-primary
    - text-primary
    - border-primary
    - dll.
  */
  --color-primary: #095592;
  --color-primary-50: #edf8fe;
  --color-secondary: #fff2e3; 
  --color-accent: #166534;     
  --color-info: #cffafe;
  --color-warning: #fef3c7;
  --color-danger: #fee2e2;
  --color-neutral: #1f2933;     

  
  --font-family-sans: "Nunito Sans", sans-serif;
}